// Font

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

// Variables

:root {
  // Colors
  --color-dark-cyan: hsl(185, 75%, 39%);
  --color-very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --color-dark-grayish-blue: hsl(227, 10%, 46%);
  --color-dark-gray: hsl(0, 0%, 59%);

  // Font
  --font-size-regular: 1.8rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

// Global Reset & Basic Styles

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--color-dark-cyan);
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

// Page Background

@mixin pseudo($url) {
  content: "";
  background-image: url($url);
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

body::after {
  @include pseudo("../images/bg-pattern-top.svg");

  background-position: bottom right;
  left: -50%;
  top: -41.5%;
}

body::before {
  @include pseudo("../images/bg-pattern-bottom.svg");

  background-position: top left;
  right: -49.5%;
  bottom: -50%;
}

// Component Styling

.card {
  width: 35rem;
  height: 37.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-regular);
  color: var(--color-very-dark-desaturated-blue);

  &__top {
    height: 37.33%;
    background: url("/images/bg-pattern-card.svg");
    position: relative;

    & img {
      border-radius: 50%;
      border: 0.5rem #fff solid;
      position: absolute;
      right: 50%;
      bottom: 0;
      transform: translateX(50%) translateY(50%);
    }
  }

  &__mid {
    height: 38.66%;
    padding-top: 7.5rem;

    & h1 {
      & span {
        font-weight: var(--font-weight-regular);
        color: var(--color-dark-gray);
      }
      padding-bottom: 0.5rem;
    }

    & p {
      color: var(--color-dark-gray);
      font-size: 1.4rem;
    }
  }

  &__btm {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgba(150, 150, 150, 0.25);

    &__stat {
      & h2 {
        letter-spacing: 1px;
        font-weight: var(--font-weight-bold);
        padding-bottom: 0.5rem;
      }

      & p {
        color: var(--color-dark-gray);
        font-size: 1rem;
        letter-spacing: 1.5px;
      }
    }
  }
}

.card-white {
  background-color: #fff;
}

// Media Queries

@media (max-width: 375px) {
  .card {
    max-width: 33rem;
  }
}
