:root {
  // ? ----- /* Colors */ -----------------------------------------------------
  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  // ? ----- /* Typography */ -----------------------------------------------------
  --font-size-body: 1.6rem;

  --font-family-heading: "Young Serif", serif;
  --font-family-body: "Outfit", sans-serif;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
